*{
    margin: 0;
    padding: 0;
    font-family: 'Averta Demo', sans-serif ;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: #000;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    background-color: #fff;
}
#home{
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid red; */
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}
#nav img{
    width: 140px;
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6vw;
    color:#000;
}
#nav i{
    margin-top: 10px;
    color: #000;
    font-weight: 400;
    font-size: 1.6vw;

}
#home #homemain{
    width: 100%;
    /* background-color: red; */
    padding: 12vw 19vw;
}
#homemain h1{
    font-weight: 600;
    font-size: 1.5vw;
    letter-spacing: -.1vw;
}

.headings{
    display: flex;
    gap: 40px;
}
#homemain .headings h1{
    color: transparent;
    -webkit-text-stroke: 0.1px  #000;
    line-height: 1;
    font-size: 6vw;
    font-weight: 900;
    letter-spacing: -8px;
    
}
#homemain .headings h1:hover{
    color: #000;
}
#homelast{
    padding: 3vw 19vw;
}
#homelast p{
    width: 70%;
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: -.08vw;
}

#homelast p::selection{
    color: #fff;
    background-color: #000;
}

#featured{
    padding: 10vw 15vw;
}

.fheading>h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}
.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#fimages{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
     
}
#fleft{
    width: 45%;
    height: inherit;
    overflow: hidden;
    /* border: 1px solid blue; */
}
.fleftelem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
    /* background-color: red; */
}
.fleftelem h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
.fleftelem h3{
    font-size: 1.3vw;
    font-weight: 400;
}
.fleftelem h4{
    opacity: 0.5;
}
#fright{
    width: 45%;
    display: flex;
    justify-items: center;
    justify-content: flex-end;
    height: inherit;
    padding-top: 30px;
        
}

#fright .images{
    width: 90%;
    height: 90%;
    
}
#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btndiv button{
    padding: 1vw 2.5vw;
    border-radius: 100px;
    border: 2px solid rgb(235, 234, 234);
    background-color: #fff;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -1px;
}

#dev{
    width: 100%;
    padding: 5vw 15vw;
}

#dev h1{
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}
#dev p{
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}
#slides{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}
.slide {
    width:30%;
    /* height: 100px; */
    /* background-color: red; */
}

.slide .img{
    width: 100%;
    height: 270px;
    
}
 .slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
 }
.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    margin: 20px 0;
}

.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.4px;
}